:root{
    --blue900: #011627;
    --blue800: #013053;
    --blue700: #03416d;
    --blue600: #03599b;
    --blue500: #046BB8;
    --blue400: #1d8fc0;
    --blue300: #47a4cc;
    --blue200: #6EC1E4;
    --blue100: #b1e4fa;
    --indigo: #2D3B69;
    --cyan: #17a2b8;
    --gray100: #D6EEEE;
    --gray200: #CBDEDE;
    --gray300: #B1C5C5;
    --gray400: #96A5A5;
    --gray500: #758484;
    --gray600: #5B6C6C;
    --gray700: #435555;
    --gray800: #263636;
    --gray900: #141F1F;
    --white: #F2F9F8;
    --black: #000201;
    --black50: #0007057a;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    scroll-behavior: smooth;
    --transition: all 0.3s linear;

}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  
  body {
    margin: 0;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
  
  [tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  abbr[title],
  abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }


  *,
  ::before,
  ::after {
      box-sizing: border-box;
  }
  /*SCROLL BAR */
  
  /* width */
  ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--gray100); 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--blue500); 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--indigo); 
    }
  a{
      color: var(--blue200);
      text-decoration:none;
  }
  
  .link{
      color: var(--blue500); 
      text-decoration:none; 
  }
  
  .link:hover{
      color: var(--cyan);
      text-decoration:none;
      font-size: 16px;
      margin: 0 1.1rem 0 1.1rem;
  }
  
  p {
      font-family: 'Manrope', sans-serif;
      margin-top: 1rem;
  }
  
  a:hover {
      filter: drop-shadow(13px 13px 20px rgb(215, 218, 210));
      color: var(--blue200);
      text-decoration:none;
  }
  
  body{
      background-color: var(--red100);
      color: var(--gray900);
      transition: var(--transition);
  }
  
  nav{
        background-color: var(--blue200);
        color: var(--blue500);
        transition: var(--transition);
  }
  
  
  .small{
      font-size: 0.7em;
      margin-top: 1rem;
  }
  
  h1 {
      font-size: 42px;
      margin-bottom: 1.2em;
      text-align: center;
      margin-top: 2.6em;
      color: var(--blue500);
      font-family: serif;
      text-shadow: 1px 1px 2px var(--black), 0 2px 25px var(--red900);
  }
  
  h2 {
      font-size: 32px;
      margin-bottom: 1.2em;
      text-align: center;
      margin-top: 1em;
      color: var(--color-secondary);
      font-family: 'Labrada', sans-serif;
  }
  
  h3 {
      font-size: 1.2rem;
      margin-bottom: 1.2em;
      text-align: center;
      margin-top: 1.2em;
      color: var(--color-secondary);
      font-family: 'Labrada', sans-serif;
  }
  
  /*BUTTONS */
  
  .button-primary {
      background-color: var(--blue500); 
      border: none;
      color: var(--white);
      padding: 5px 10px;
      border-radius: var(--border-radius);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .button-primary:hover {
      border: 3px var(--blue500);
      color: var(--yellow400);
      padding: 5px 10px;
      border-radius: var(--border-radius);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .button-ghost {
      border: solid 3px;
      border-color: var(--gray400);
      color: var(--gray400);
      padding: 5px 10px;
      border-radius: var(--border-radius);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .button-ghost:hover {
      background-color: var(--blue200);
      border: none;
      border-color: none;
      color: var(--blue500);
      padding: 5px 10px;
      border-radius: var(--border-radius);
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      font-weight: bold;
  }
  
  .button-ghost2 {
      color: var(--blue500);
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .button-ghost2:hover {
      border-bottom: solid 3px;
      border-color: var(--color-default);
      color: var(--color-default) ;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  .texto-borde {
      -webkit-text-stroke: 1px var(--black);
      color: transparent; 
    }
  
  
  .flex-container{
      display: flex;
      border: white;
      padding: 20px;
      background-color: var(--bg-color);
      border-radius: var(--border-radius);
      flex-direction: column;
      align-items: center;
  }
  
  .horizontal-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
  }
  
  .horizontal-container-icons{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
  }
  
  /*BOXES */
  
  .box {
      color: var(--black);
      text-align: justify;
      align-content: center;
      margin-top: 1.4em;
      margin-left: 20px;
      margin-right: 20px;
      width: 350px;
      padding: 10px;
      align-items: center;
  }
  
  .box:hover {
      border-radius: var(--border-radius);
      border: 3px solid var(--blue200);
      color: var(--yellow600);
      text-align: justify;
      align-content: center;
      margin-top: 1.4em;
      margin-left: 20px;
      margin-right: 20px;
      width: 350px;
      padding: 10px;
      align-items: center;
  }

  
  
  .box-text {
      background-color: var(--black50); 
      width: fit-content; 
      height: fit-content; 
      border-radius: var(--border-radius);
      text-align: justify;
      padding: 1rem 0 1rem 0;
      margin: 1rem 0 1rem 0;
  }

  

  
  footer{
      background-color: rgb(14, 13, 13) !important;
      color: var(--white);
      text-align: center;
      align-items: center;
      width: 100%;
      height: fit-content;
      padding: 1em;
      padding-top: 3em;
  }
  
  /*SMARTPHONE MODE*/
  
  @media screen and (max-width:1600px){
      .horizontal-container{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
      }
  }
  @media screen and (max-width:900px){
      

      .box{
          margin-left: 0;
          margin-right: 0;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 100%;
          border-radius: 0; 
      }
  
      .box:hover{
          margin-left: 0;
          margin-right: 0;
          margin-top: 20px;
          margin-bottom: 20px;
          width: 100%;
          border-radius: 0;
          border: 3px solid var(--blue200); 
          color: var(--yellow800);
      }
  
      .horizontal-container{
          display: flex;
          flex-direction: column;
          margin-left: 0;
          margin-right: 0;
          width: 100%;
      }

}